body {
    background-color: #0e264b;
}

#container {
    background-color: #e4e4e4;
    max-width: 800px;
    padding: 30px;
    color: #0e264b;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;

}

img {
    display: block;
    width: 50%;
    margin: auto;
    padding: 20px;
}

button {
    color: #0e264b;
    padding: 0.5em;
    border-radius: 5px;
}
